<div class="row">
  <div class="col-xs-12">
    <img [src]="recepie.imagePath" alt="{{recepie.name}}"
    style="max-height:200px;"
     class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>{{recepie.name}}</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="dropdown" >
      <div class="btn-group open">
      <button class="btn btn-primary dropdown-toggle" type="button"
       id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="true">
        Dropdown button
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" (click)="addToShoppingList()" style="cursor: pointer;">To shopping List</a>
        <a class="dropdown-item" style="cursor: pointer" (click)=editRecipe()>Edit Receipe</a>
        <a class="dropdown-item" style="cursor: pointer" (click)=deleteRecepie()>Delete Recepie</a>
      </div>
    </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {{recepie.description}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
  <li 
  class="list-group-item"
  *ngFor="let ingredient of recepie.ingredients">
  {{ ingredient.name }}-{{ingredient.amount}}
</li>
</ul>
  </div>
</div>
